/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #0b3d91;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo h1 {
    margin: 0;
}

.logo img {
    width: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li:last-child {
    margin-left: auto;
}

/* Container principal */
.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título */
h2 {
    color: #0b3d91;
    margin-bottom: 20px;
}

/* Seção de saldo */
.balance {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Menu do dashboard */
.dashboard-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard-menu a {
    background-color: #336ac9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dashboard-menu a:hover {
    background-color: #254c90;
}

