<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Órbita - Dashboard</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>
                <img src="/logo.png" alt="Banco Órbita">
            </h1>
        </div>
    </header>

    <div class="container">
        <h2>Bem-vindo, Correntista</h2>
        <div class="balance">Saldo: R$ <span id="saldo">0.00</span></div>

        <nav class="dashboard-menu">
            <a href="extrato.html">Emitir Extrato</a>
            <a href="depositar.html">Depósito em Espécie</a>
            <a href="sacar.html">Saque em Espécie</a>
            <a href="transferir.html">Transferência via PIX</a>
            <a href="/investimento">Simulador de Investimentos</a>
        </nav>
    </div>
  
</body>
</html>
